@import '../../../components/GlobalStyles/mixin.scss';

.header {
    // position: absolute;
    padding: 0 20px;
    width: 100%;
    // height: 200vh;
    z-index: 99;
    @include md {
        // position: absolute;
        padding: 0 40px;
        background-color: rgba(255, 255, 255, 255);
    }
    .header-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1200px;
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
        @include md {
            height: 80px;
        }
        .inner-left {
            align-items: flex-end;
            display: flex;
            opacity: 1;
            .header-brand {
                padding: 5px 23.5px;
                line-height: 0;
                img {
                    width: 75px;
                    height: 64.8px;
                    background: transparent;
                }
            }
        }
        .inner-center {
            list-style-type: none;
            display: none;
            gap: 25px;
            @include md {
                display: flex;
            }
        }

        .inner-right {
            display: inherit;
            align-items: center;
        }
    }
}

a {
    color: var(--color-01);
    text-decoration: none;
    // display: flex;
}
